.navbar {
  background-color: black;
  margin: 10px 60px;
  border-radius: 30px;
  padding: 5px 0;
}
.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.navbar ul li {
  list-style: none;
}
.navbar ul li a {
  color: white;
  text-decoration: none;
}
.navbar ul li .active {
  color: aqua;
}
