form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
form .input-div {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 2px;
  height: 61px;
}
form .input-div input {
  width: 330px;
  outline: none;
}
form .input-div .error {
  color: red;
}
form button {
  padding: 5px 12px;
  border-radius: 8px;
  cursor: pointer;
}
form p {
  color: green;
}
